@font-face {
    font-family: svgFont;
    src: url('external/OpenSans-Regular.ttf');
}

svg * {
    font-family: svgFont;
}

svg {
    max-height: 30em;
}

.inputLineColour {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid black;
}

.inputLineText {
    padding-left: 5px;
}

div#plotLines input {
    margin-left: 10px;
    width: 30px;
    white-space: nowrap;
}
